{% extends "layout/layoutt/header.html" %}

{% block content %}

<body>
<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Login</h3>
                    </div>
                    <div class="card-body">
                        {% if message != '' %}
                        <span class="alert-danger py-1 px-2">{{ message }}</span>
                        {% endif %}
                        <form method="post" action="login-store">
                            <div class="form-group">
                                <label class="small mb-1" >Email :</label>
                                <input class="form-control py-4" name="email"type="text" placeholder="Enter email" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" >Password :</label>
                                <input class="form-control py-4" name="password" type="password" placeholder="Enter password" />
                            </div>
                            <input class="btn btn-primary"  id="login" value="Login"
                                   type="submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>
</body>
</html>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
      {% endblock %}