{% extends "layout/appLayout.html" %}

{% block title %}DogStore | Order{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Order</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Order</li>
        </ol>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Costumer</th>
                            <th>Worker</th>
                            <th>Outfit</th>
                            <th>Comment</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in order %}
                        
                        <tr>
                            <td>{{ order.costumer.first_name }} </td>
                            <td>{{ order.worker.first_name }}</td>
                            <td>{{ order.outfit.title }}</td>
                            <td>{{ order.comment }}</td>
                            <td>{{ outfit.created_at }}</td>
                            <td>{{ outfit.updated_at }}</td>
                            <td> <form method='post' action='orders-edit'>
                                <input type='hidden' name='id' value='{{ order.id }}'>
                                <input type='submit' value='Edit'>
                            </form></td>
                            <td><form method='post' action='orders-delete'>
                                <input type='hidden' name='id'value='{{ order.id }}'>
                                <input type='submit' value='Delete'>
                            </form></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}