<div class="">
    <a href="#" id="maina" class="btn text-white w-100  " style="border-radius: 0">Free Domestic (US) shipping for all order over $100!</a>
    </div>
<nav class="navbar navbar-expand-md ">
    <div class="container my-4">
        <div clas="row ">
        <div class="col-xl-12">
            <div class="d-flex justify-content-center">
                <div class="col-xl-7" id="img">
        <img src="dist/img/logo.webp" style="width:35%;" class="float-end">
                </div>
        <div class="align-self-center col-xl-5">
            <ul class="navbar-nav ms-auto float-end" id="ul1">
                <li class="nav-item p-2"><a href="#"><i class="bi bi-search"></i></a></li>
                <!-- <li class="nav-item p-2"><a href=" login-form "><i class="bi bi-person"></i></a></li> -->
               
            <!-- Show Logout button if customer is logged in -->
            <li class="nav-item p-2">
                <a href="logout" class="nav-link">Logout</a>
            </li>
            <li class="nav-item p-2">
                <a href="addacc" class="nav-link">Create Acc</a>
            </li>
          
            <!-- Show Login button if customer is not logged in -->
            <li class="nav-item p-2">
                <a href="login-form" class="nav-link"><i class="bi bi-person"></i></a>
            </li>
                <li class="nav-item p-2">
                    <a href="carta"><i class="bi bi-bag"></i>
                    </a></li>
            </ul>
        </div>
        </div>
        </div>
        <div class="col-xl-12 ">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center pt-2" id="navbarNav">
          
            <ul class="navbar-nav">
                <li class="nav-item me-3">
                    <a href=" index" class="nav-link text-decoration-underline">Home</a>
                </li>
                <li class="nav-item me-3">
                    <a href="#" class="nav-link dropdown-toggle" role="button" 
                    data-bs-toggle="dropdown" aria-haspopup="true" expanded="false" >Walk</a>
                
                    <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown" id="toglerclass">
                      <a href="#" class="dropdown-item font-weight-bold">Walk</a>
                      <a href="#" class="dropdown-item">Leashes</a>
                      <a href="#" class="dropdown-item">Waste Bag Holders</a>
                      <a href="#" class="dropdown-item">Collars</a>
                      <a href="#" class="dropdown-item">Harnesses</a>
                    </div>
                  </li>
                <li class="nav-item me-3">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" expanded="false">Wear</a>
                    <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown" id="toglerclass">
                      <a href="#" class="dropdown-item font-weight-bold">Wear</a>
                      <a href="#" class="dropdown-item">Shirts</a>
                      <a href="#" class="dropdown-item">Swaters</a>
                      <a href="#" class="dropdown-item">Bandanas</a>
                      <a href="#" class="dropdown-item">Bowties & Collars</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Play</a>
                </li>
            
                <li class="nav-item me-2">
                     <a href="#" class="nav-link">Sleep</a>
                  </li>
                 <li class="nav-item me-2">
                      <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" expanded="false" >About</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="toglerclass2">
                        <a href="#" class="dropdown-item font-weight-bold">Sustainability</a>
                        <a href="#" class="dropdown-item">Partners</a>
                        
                      </div>
                    </li>
                <li class="nav-item me-2">
                    <a href="#" class="nav-link">Events&Pop-ups</a>
                </li>
            </ul>
        
        </div>
        </div>
        </div>
    </div>
</nav>