{% extends "layout/appLayout.html" %}
{% block title %} Worker |Edit {% endblock %}

{% block content %}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Edit Worker</h1>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Edit Worker</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="workers-update">
                            <input type="hidden" name="id" value="{{ worker.id }}">
                            <div class="form-group">
                                <label class="small mb-1" >First name :</label>
                                <input class="form-control py-4" name="first_name"type="text" value="{{ worker.first_name }}" placeholder="Enter name" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" >Last name :</label>
                                <input class="form-control py-4" name="last_name" type="text" value="{{ worker.last_name }}" placeholder="Enter last name" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="phone">Phone</label>
                                <input class="form-control py-4" value="{{ worker.phone }}" name="phone" id="phone" type="text" placeholder="Enter phone" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="email">Email</label>
                                <input class="form-control py-4" value="{{ worker.email }}" name="email" id="email" type="text" placeholder="Enter email" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="password">Password</label>
                                <input class="form-control py-4" name="password" value="{{ worker.password }}" id="password" type="text"
                                       placeholder="Enter index no"/>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="small mb-1" for="status">status</label>
                                <div class="">
                                    <input class="" name="status" id="status_active" type="radio" checked value="1"/>
                                    <label class="small mb-1" for="status">Worker</label>
                                    <input class="" name="status" id="status_inactive" type="radio" value="0"/>
                                    <label class="small mb-1" for="status">Costumer</label>
                                </div>
                            </div>
                          
                            <input class="btn btn-primary"  id="login" value="Edit Worker" type="submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>



{% endblock %}